<div  class="infobox">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-2 center infobox">
                <h2>{{recipe.title}}</h2>
            </div>
        </div>

        <div class="row single infobox">
            <div class="col-md-6">
                <div class="singledes">
                    <h3>Ingredients</h3>
                    <p>{{recipe.ingredients}}</p>
                </div>
                <div class="singledes">
                    <h3>How to Make</h3>
                    <ul>
                        <li>{{recipe.description}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img  src="{{recipe.image_url}}" alt="{{recipe.title}}">
            </div>
            <div class="col-md-12 center">
                <h4>Posted by {{recipe.user.username}} on {{format_date recipe.created_at}}</h4>
            </div>
        </div>
    </div>
</div> 
